@model IEnumerable<AstroShop.Data.Data.Shop.Product>
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<div class="vstack mx-4 my-3 text-light p-4">
    @foreach (var item in Model)
    {     
        <h1 class="text-center mt-2 mb-2 display-2">@item.Type.Name</h1>
        <h3 class="text-center mt-2 mb-2 display-5">@item.Type.Description</h3>
        break;
    }
    @await Html.PartialAsync("TypeMenu",(IEnumerable<AstroShop.Data.Data.Shop.Type>) ViewBag.Type)
    <div class="row mx-2 my-sm-3">
        <div class="w-100 d-flex flex-row">

            <form asp-controller="Shop" asp-action="Index" method="get" class="w-100">
                <div class="d-flex flex-row w-100">
                    <input placeholder="Search for products.." type="text" name="SearchString" class="p-3 w-100" style="border: none; border-radius: 4px; background: rgba(255,255,255, 0.5); color:#2a2a2a;" />
                    <button type="submit" class="text-light" style="border: none; border-radius:4px; margin-left: 0.5rem; background: #E3C7BE;"><i class="fa-solid fa-magnifying-glass p-3"></i></button>
                </div>
            </form>
            <button onclick="toggleElement()" class="text-light" style="border: none; border-radius:4px; margin-left: 0.5rem; background: #E3C7BE;"><i class="fa-solid fa-sort p-3"></i></button>
        </div>
        <form asp-controller="Shop" asp-action="Index" method="get" class="my-3" style="display: none;" id="sortBar">
            <div class="d-flex flex-row w-100">
                <select name="sortOrder" class="p-3 w-100" style="border: none; border-radius: 4px; background: rgba(255,255,255, 0.5); color:#2a2a2a;" onchange="this.form.submit()">
                    <option value="name_asc" selected>Sort by Name Ascending</option>
                    <option value="name_desc" selected>Sort by Name Descending</option>
                    <option value="price_asc">Sort by Price Ascending</option>
                    <option value="price_desc">Sort by Price Descending</option>
                </select>
            </div>
        </form>
        @foreach (var product in Model)
        {
            <div class="col-sm-12 col-md-4 my-2 mt-3">
                <div class="card mx-auto w-100 bg-light">
                    <img src="@product.ImageURL" class="card-img-top" style="object-fit: cover; height: 40vh">
                    <div class="card-body text-center p-2">
                        <h4 class="card-title m-2">
                            @Html.ActionLink(product.Name, "Details", "Shop", new {id=product.IDProduct}, new { @class = "text-dark nav-link"})
                        </h4>
                        <h5 class="card-text m-2 text-dark">
                            @String.Format("{0:0.##}",product.Price)&euro;
                        </h5>
                        <div class="p-2 mx-2 my-4">
                            <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.IDProduct" class=" pad-2 m-1 text-light" style="border:none; border-radius: 4px; background: #3F579D; padding:0.5rem 1rem;"><i class="fa-solid fa-cart-shopping text-light"></i></a>
                            <a asp-action="AddToWishlist" asp-controller="Wishlist" asp-route-id="@product.IDProduct" class=" pad-2 m-1 text-light" style="border:none; border-radius: 4px; background: #E3C7BE; padding:0.5rem 1rem;"><i class="fa-solid fa-heart text-light"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<script>
    function toggleElement() {
        var element = document.getElementById("sortBar");
        if (element) {
            if (element.style.display === "none") {
                element.style.display = "";
            } else {
                element.style.display = "none";
            }
        }
    }
</script>