@model IEnumerable<AstroShop.Data.Data.Shop.Product>
@{
    ViewData["Title"] = "Products";
}

<div class="dark-theme-primary-bg">
    <div class="swift-window pad-2 mar-top-2 mar-bottom-2 flex-center flex-column" style="width: auto;">
        <div class="pad-2 flex-center flex-column" style="width: 80%;">
            <h1 class="bolder mar-1">News</h1>
            <h5 class="mar-1 center">News about the latest astrophotography equipment and new techniques of capturing the starry sky, deep sky and sky objects</h5>
            <a asp-action="Create" class="create-button mar-1">Create new</a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col s12 m6 mar-bottom-2 pad-1" style="padding-left: 0rem;">
            <div class="swift-window flex-column" style="padding: 3rem;">
                <img src="@Url.Content(item.ImageURL)" style="object-fit: cover; height: 40vh; border-radius: 4px;" />
                <h4 class="mar-1" style="margin-left: 0rem;">
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                <h5 class="mar-1" style="margin-left: 0rem;">
                    @Html.DisplayFor(modelItem => item.Price) &euro;
                </h5>
                <h6 class="mar-0" style="margin-left: 0rem;">
                    Category: @Html.DisplayFor(modelItem => item.Type.Name)
                </h6>
                <p class="mar-1" style="margin-left: 0rem;">
                    Product code: @Html.DisplayFor(modelItem => item.Code)
                </p>
                <a asp-action="Details" asp-route-id="@item.IDProduct" class="dark-theme-accent mar-0 bolder">Read more details..</a>
                <div class="center">
                    <a asp-action="Edit" asp-route-id="@item.IDProduct"><i class="fa-solid fa-pen-to-square dark-theme-accent fs-15 mar-1"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IDProduct"><i class="fa-solid fa-trash dark-theme-accent fs-15 mar-1"></i></a>
                </div>
            </div>
        </div>
    }
</div>
